.home-box-outer {
  margin-top: 170px;
}
.home-box {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(59, 58, 58, 0.1);
  max-width: 300px; 
  margin: 10px;
  background-color: rgba(69, 68, 68, 0.7); /* Fully transparent */
}
 
.box-content {
  padding: 20px;
  text-decoration: none;
  color: inherit; 
}
.box-content:hover {
  text-decoration: none; 
}


.box-inner-img {
  width: 80px;
  height: 80px;
}

.box-text {
  color: #fff;
  margin-top: 10px;
  text-decoration: none; 
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}


.home-box {
  margin: 0 10px;
}

.home-box {
  max-width: 300px; 
  margin: 10px;
 
}
.home-box-account {
  margin-top: -50px; 
}